.TodoEditor .editor_wrapper{
    width: 100%;
    display: flex;
    gap: 10px;
}
.TodoEditor input{
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}
.TodoEditor input:focus{
    outline: none;
    border: 1px solid #1f93ff;
}
.TodoEditor_button{
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #1f93ff;
    color: white;
    border-radius: 5px;
}
.TodoEditor_button:hover{
    background-color: #0d75d8;
}